.Sign_up{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 270px);
    max-height: 810px;

}
.Sign_up h2{
    margin: 25px 0;
    color: #d90a0a;
}

.Sign_up form{
    display: flex;
    flex-direction: column;
    height: 490px;
    margin: 25px 0 43px;
}
