.Sign_up{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 270px);
    max-height: 810px;

}
.Sign_up h2{
    margin: 25px 0;
    color: #d90a0a;
}

.Sign_up form{
    display: flex;
    flex-direction: column;
    height: 490px;
    margin: 25px 0 43px;
}

.Sign_up form .input_div{
    width: 500px;
    margin: 8px 0;
}
.Sign_up form select{
    height: 30px;
    border: 1px solid #aaaaaa;
    font-size: 16px;
    padding: 0px 10px;
    outline: none;
}

.Sign_up form .checkbox{
    flex-direction: row;
    font-size: 14px;
    width: 500px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 6px;
}

.Sign_up form .checkbox label{
    margin-left: 10px;
    margin-top: 7px;
}

/* EMPY OR INVALID CLASES AND ID's */

.Sign_up form .input_div.invalid::after , .input_div.invalid_email::after, .input_div.invalid_password::after{
    content: '* Minimum length is 7';
    color: #d90a0a;
    position: absolute;
    font-size: 12px;
    top: 28px;
    right: 10px;
}

.Sign_up form .input_div.invalid_email::after{
    content: '* Invalid email';
}

.Sign_up form .input_div.invalid_password::after{
    content: '* Passwords must match';
}
