.Spinner{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 15px solid transparent;;
    border-left: 15px solid #d90a0a;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
        
    }