.Modal .modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    animation: fade_in 300ms ease-out forwards;
    overflow: hidden;
}

.Modal .closing .modal_overlay{
    animation-direction: alternate;
}

@keyframes fade_in{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.Modal .modal_container{
    width: 350px;
    min-height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    z-index: 1001;
    animation: slide 500ms ease-out;
}
.Modal .closing .modal_container{
    animation-direction: alternate;
}

.Modal .modal_container p{
    width: 75%;
    line-height: 24px;
}

@keyframes slide{
    0%{
        top: 100%;
        transform: translate(-50%, 50%);
    }
    65%{
        top: 30%;
        transform: translate(-50%, -30%);
    }
    100%{
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
