.Hero{
    width: 100%;
    height: 500px;
    margin: 26px 0;
    position: relative;  
    background-color: black;
}

.Hero section{
    overflow: hidden;
    display: flex;
}

.Hero section img{
    transform: translateX(-100%);
}

@keyframes slide{
    0%{
        opacity: 1;
    }
    35%{
        opacity: 0.2;
    }
    65%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}

.Hero #Shadow{
    position: absolute;
    top: 0;
    left: 0;
}

.Hero button{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Hero button:focus{
    outline: none;
}

.Hero button.prevBtn{ 
    background-image: url('../../../images/icons/left_arrow.png'); 
}
.Hero button.nextBtn{ 
    background-image: url('../../../images/icons/right_arrow.png'); 
    right: 0px;
}

.Hero .indicators{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    align-items: center;
}
.Hero .indicators span{
    width: 12px;
    height: 12px;
    margin: 0px 3px;
    background-color: none;
    border: 2px solid #dadada;
    border-radius: 50%;
    transition: all ease-in-out;
}
.Hero .indicators span.active{
    width: 14px;
    height: 14px;
    background-color: white;
    border: 2px solid white;
    animation: active ease-in-out;
}
@keyframes active{
    0%{
        width: 12px;
        height: 12px;
        background-color: none;
        border: 2px solid #dadada;
    }
}

.Hero .order_modal{
    width: 340px;
    height: 220px;
    background-color: white;
    position: absolute;
    right: 60px;
    bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Hero .order_modal h1{
    color: #eb0d0d;
    border-bottom: dashed 2px #a6a6a6;
    font-size: 32px;
}
.Hero .order_modal p{
    color: #222222;
    font-size: 16px;
    width: 276px;
    margin: 16px 0;
}