.Hero{
    width: 100%;
    margin-top: 26px;
    position: relative;  
    background-color: black;
}

.Hero section{
    overflow: hidden;
    display: flex;
}

.Hero #shadow_overlay{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
}

.Hero section img{
    transform: translateX(-100%);
    width: 100%;
}
.Hero section img.transitioning{
    transition: transform 600ms ease-in-out;
    animation: fade 600ms ease-in-out;
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    35%{
        opacity: 0.4;
    }
    65%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}

.Hero button{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Hero button:focus{
    outline: none;
}

.Hero button.prevBtn{ 
    background-image: url('../../../images/icons/left_arrow.png'); 
}
.Hero button.nextBtn{ 
    background-image: url('../../../images/icons/right_arrow.png'); 
    right: 0px;
}

.Hero .indicators{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    align-items: center;
}
.Hero .indicators span{
    width: 12px;
    height: 12px;
    margin: 0px 3px;
    background-color: none;
    border: 2px solid #dadada;
    border-radius: 50%;
    transition: all 600ms ease-in-out;
    cursor: pointer;
}
.Hero .indicators span.active{
    width: 14px;
    height: 14px;
    background-color: white;
    border: 2px solid white;
}


.Hero .order_modal{
    width: 340px;
    height: 220px;
    background-color: white;

    position: absolute;
    right: 60px;
    bottom: 140px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Hero .order_modal h1{
    width: 280px;
    color: #eb0d0d;
    border-bottom: dashed 2px #a6a6a6;
    font-size: 32px;
    margin-left: 33px;
    text-align: center;
}
.Hero .order_modal p{
    color: #434343;
    font-size: 16px;
    width: 280px;
    margin: 16px 33px;
    line-height: 24px;
}

@keyframes flip{
    0%{
        transform: rotateY(0deg) translateY(-50%); 
        opacity: 1;
    }
    35%{
        opacity: 0.2;
    }
    50%{
        transform: rotateY(90deg) translateY(-50%);  
    }
    65%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg) translateY(-50%);
    }
}

@media only screen and (max-width: 1199px){
    .Hero {
        margin-top: 0px;
    }
}


@media only screen and (max-width: 767px){
    .Hero .order_modal, 
    .Hero button{
        display: none;
    }


}

