.Home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.Home .home_page_cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Home .main_h1{
    margin: 45px 0;
}