.MyAccount .modal_container{
    width: 900px;
    height: 600px;
    padding: 25px 65px;
}


/* ABOUT ME */
.MyAccount .about_me_div{
    margin: 0 50px;
    width: calc(100% - 80px);
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    column-gap: 170px;
}

.MyAccount .about_me_div h2{
    color: #d90a0a;
}


.MyAccount .about_me_div .info{
    width: 300px;
    margin: 25px 0;
    font-size: 16px;
    color: #666666;
}
.MyAccount .about_me_div .info label{
    font-weight: bold;
    font-size: 14px;
    color: #272727;

    display: inline-block;
    margin-bottom: 3px;
}

/* MY ORDERS */

.MyAccount .my_orders_div{
    width: 100%;
    overflow-y: auto;
    margin: 25px 0;
}
.MyAccount .my_orders_div::-webkit-scrollbar{
    width: 5px;
    height: 20px;
    background-color: white;
}

.MyAccount .my_orders_div::-webkit-scrollbar-thumb{
    background-color: #d85353;
    border-radius: 30px;
}

.MyAccount .my_orders_div .order{
    margin: 20px 0;
}
.MyAccount .my_orders_div .order .order_time{
    margin-bottom: 10px;
    font-weight: bold;
}
.MyAccount .my_orders_div .order .ordered_items{
    color: #666666;
}






/* CLOSE MODAL X SYMBOL */

.MyAccount #x{
    position: absolute;
    top: 25px;
    right: 25px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.MyAccount #x::before, .MyAccount #x::after{
    content: '';
    width: 6px;
    height: 20px;
    position: absolute;
    background-color: #666666;
    transform: rotate(45deg);
}

.MyAccount #x::after{
    transform: rotate(-45deg);
}

/* NAVS */

.MyAccount .navs{
    display: flex;
    align-items: center;
    width: 100%;
}
.MyAccount .navs span{
    font-size: 18px;
    margin: 0;
    margin-left: 40px;
}
.MyAccount .navs #about_me{
    margin: 0;
}

.MyAccount .navs span.active{
    color: #d90a0a;
}

.MyAccount .navs .Button{
    background-color: white;
    border: 2px solid #666666;
    height: 43px;
    color: #666666;
    margin-left: auto;
}
.MyAccount .navs .Button:hover{
    color: #d90a0a;
    border: 2px solid #d90a0a;

}