.Checkout{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.Checkout h2{
    margin: 35px 0;
    color: #d90a0a;
}

.Checkout #notes_div textarea{
    height: 200px;
    width: 500px;
    resize: none;
    padding: 15px;
}
.Checkout #notes_div textarea::placeholder{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.Checkout .input_div{
    margin: 18px 0;
}

.Checkout .itemsInCart{
    width: 500px;
}

.Checkout #total{
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;
    color: #666666;
}

.Checkout .coupon{
    width: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Checkout .coupon input{
    width: 320px;
}

.Checkout .coupon .Button{
    width: 120px;
    height: 36px;
}