.Checkout{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 120px;
}

.Checkout h2{
    margin: 35px 0;
    color: #d90a0a;
}

.Checkout #notes_div textarea{
    height: 200px;
    width: 500px;
    resize: none;
    padding: 15px;
}
.Checkout #notes_div textarea::placeholder{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.Checkout .input_div{
    margin: 18px 0;
}

.Checkout .itemsInCart{
    width: 500px;
}

.Checkout #total{
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;
    color: #666666;
}

.Checkout .coupon{
    width: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Checkout .coupon input{
    width: 320px;
}

.Checkout .coupon .Button{
    width: 120px;
    height: 36px;
}

.Checkout .radio{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Checkout .radio div{
    position: relative;
}

.Checkout .radio .radio_circle{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #666666;
    margin-left: 1px; /* Makes size offset unnoticible */
}
.Checkout .radio .active .radio_circle{
    margin: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #d90a0a;
}

.Checkout .radio .active .radio_circle::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d90a0a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Checkout .radio input{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.Checkout .radio label{
    margin-left: 40px;
    font-size: 16px;
    color: #666666;
}
.Checkout .radio .active label{
    color: rgb(34, 34, 34);
}

.Checkout .card_payment{
    margin-top: 20px;
    width: 500px;
    flex-direction: column;
}

.Checkout .card_payment .input_div{
    margin: 9px 0;
}

.Checkout .card_payment #date_and_cvc{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.Checkout .card_payment #date_and_cvc input, 
.Checkout .card_payment #date_and_cvc .input_div{
    width: 200px;
}
.Checkout .input_div.invalid.coupon::after{
    content: '*Invalid discount code';
    left: 0;
    top: 40px;
}

.Checkout .card_payment .input_div.invalid.card_number::after{
    content: '*Minimum length is 16';
}

.Checkout .card_payment #date_and_cvc .input_div.invalid::after{
    content: '*Minimum length is 4';
    left: 0;
    top: 60px;
}

.Checkout .card_payment #date_and_cvc .input_div.cvc.invalid::after{
    content: '*Minimum length is 3';
}

.Checkout .sign_in_reminder{
    position: fixed;
    background-color: #d90a0a;
    color: white;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 100;
    padding: 5px 0;
    display: flex;
}
.Checkout .sign_in_reminder p{
    width: 1200px;
    margin: auto;
    font-weight: bold;
}
.Checkout form .Button.min_price{
    background-color: #666666;
}

.Checkout .modal_container{
    width: 450px;
    height: 400px;
}
.Checkout .modal_container .modal_content{
    margin-top: 20px;
    width: 600px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Checkout .modal_content h1{
    color: #d90a0a;
    font-size: 26px;
    margin: 15px 0;
}

.Checkout .modal_content p{
    width: fit-content;
    max-width: 278px
}

.Checkout .modal_content .Button{
    margin-top: 29px;
}
.Checkout .Button{
    margin: 45px 0;
    width: 500px;
}

@media only screen and (max-width: 1199px){
    .Checkout{
        flex-direction: column-reverse; 
        width: 100%;
        align-items: center;
    }
    .Checkout .sign_in_reminder p{
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }
    .Checkout form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Checkout .input_div,
    .Checkout h2,
    .Checkout .radio,
    .Checkout .Button{
        width: 80%;
        max-width: 500px;
    }
    .Checkout #notes_div textarea{
        width: 100%;
        max-width: 500px;
    }
    .Checkout .coupon{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .Checkout{
        margin-top: 85px;
    }
    .Checkout .sign_in_reminder{
        top: 50px;
    }

    .Checkout .order_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Checkout .itemsInCart{
        width: 100%;
        max-width: 500px;
    }
    .Checkout .itemsInCart img{
        width: 65px;
        height: 65px;
    }
    .Checkout .itemsInCart .properties_section{
        margin-left: 75px;
    }
    .Checkout #total{
        width: calc(100% - 10px);
        margin-left: 10px;
        max-width: 500px;
    }

    .Checkout .coupon{
        width: 80%;
        position: relative;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .Checkout .coupon input{
        width: 100%;
    }

    .Checkout .coupon .Button{
        position: absolute;
        top: 50px;
        margin: 0;
        width: 100%;
    }
}