*{
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    overflow: hidden;
}

/* GLOBAL INPUT STYLES */

.input_div{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 75%;
}
.input_div input{
    margin-top: 3px;
    height: 30px;
    border: 1px solid #aaaaaa;
    font-size: 16px;
    padding: 0px 10px;
    outline: none;
}
.input_div input:focus{
    border-bottom: 2px solid #d90a0a;
}

/* IF FIELD IS EMPTY */

.empty input{
    border: 1px solid #d90a0a;
}
.empty input::placeholder{
    color: #d90a0a;
    font-size: 14px;
}
.empty label{
    color: #d90a0a;
}

