*{
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    overflow: hidden;
}

/* GLOBAL INPUT STYLES */


/* REMOVES DEFAULT AUTOFILL STYLES*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.input_div{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: relative;
    width: 500px;
    margin: 8px 0;
}

.input_div input{
    margin-top: 3px;
    height: 30px;
    border: 1px solid #aaaaaa;
    font-size: 16px;
    padding: 0px 10px;
    outline: none;
}
.input_div input:focus{
    border-bottom: 2px solid #d90a0a;
}

 select{
    height: 30px;
    border: 1px solid #aaaaaa;
    font-size: 16px;
    padding: 0px 10px;
    outline: none;
}

 .checkbox {
    flex-direction: row;
    font-size: 14px;
    width: 500px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 6px;
}

 .checkbox label{
    margin-left: 10px;
    margin-top: 7px;
}

/* EMPY OR INVALID CLASES AND ID's */

.empty input, .invalid input, .empty select, .invalid_email input, .invalid_password input{
    border: 1px solid #d90a0a;
    color: #d90a0a;
}
.empty input::placeholder{
    color: #d90a0a;
    font-size: 12px;
}
.empty label, .invalid label , .invalid_email label, .invalid_password label{
    color: #d90a0a;
}

 .input_div.invalid::after , .input_div.invalid_email::after, .input_div.invalid_password::after{
    content: '* Minimum length is 7';
    color: #d90a0a;
    position: absolute;
    font-size: 12px;
    top: 28px;
    right: 10px;
}

 .input_div.invalid_email::after{
    content: '* Invalid email';
}

 .input_div.invalid_password::after{
    content: '* Passwords must match';
}
