.Cart .cart_icon{
    margin-right: 40px;
    position: relative;
    cursor: pointer;
}
.Cart .cart_icon img{
    pointer-events: none;
}
.Cart .cart_icon #number_of_items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: -6px;
    right: -8px;

    width: 18px;
    height: 18px;
    border-radius: 50%;

    background-color: #d90a0a;
    
    font-size: 13px;
    font-weight: bold;
    color: white;
    pointer-events: none;
}

/* CART POPUP STYLES */

.Cart .cart_pop_up{
    width: 385px;
    right: 0px;
    top: 80px;
    position: absolute;
    background-color: white;
    border: 1px solid #dedede;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.294);
    animation: fade-in 400ms forwards ease-in;
}

@keyframes fade-in{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/* CREATING THE TRIANGLE AT THE TOP OF THE POPUP */

.Cart .cart_pop_up::before, 
.Cart .cart_pop_up::after{
    content: '';
    background-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 167px;
    top: -15px;
    border-bottom: 15px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.Cart .cart_pop_up::before{
    top: -17px;
    left: 166px;
    border-bottom: 17px solid #dedede;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

/* THE POPUP CONTENT */
.Cart .cart_pop_up .items_container{
    width: 100%;
    padding: 0 15px;
}

.Cart .cart_pop_up .checkout_section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.Cart .cart_pop_up .checkout_section span, .Cart .cart_pop_up .checkout_section span:hover{
    margin-right: auto;
    margin-left: 25px;
    font-size: 18px;
    color: #666666;
    cursor: auto;
}

.Cart .cart_pop_up .Button{
    margin: 25px;
}