.Nav{
    width: 100vw;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}

.Nav section{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.Nav section #logo{
    margin-right: auto;
}

.Nav section span{
    margin-right: 40px;
    color: #666666;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.Nav section span:hover{
    color: #d90a0a;
}
.Nav img{
    cursor: pointer;
}

.Nav #hamburger_menu_icon{
    display: none;
}

/* HAMBURGER MENU */

.hamburger_menu{
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}

.hamburger_menu #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hamburger_menu #menu_links{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 200px;
    height: 100%;
    background-color: white;
    
}

.hamburger_menu #menu_links section{
    margin-top: 100px;
    padding: 30px 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;  
}

.hamburger_menu #menu_links section span, .hamburger_menu #menu_links section .MyAccount{
    width: 80%;
    color: #666666;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
    text-align: center;
}


@media only screen and (max-width: 767px){
    .Nav{
        height: 50px;
    }
    .Nav section{
        width: 100%;
        justify-content: space-between;
    }

    .Nav #hamburger_menu_icon{
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }

    .Nav #hamburger_menu_icon div{
        width: 100%;
        height: 4px;
        background-color: #d90a0a;
    }
    
    .Nav section #logo{
        width: 135px;
        margin: 0;
    }

    .Nav .Cart .cart_icon{
        margin-right: 20px;
        margin-top: 5px;
    }

    .Nav .Cart .cart_icon img{
        height: 28px;
    }

    .Nav span, 
    .Nav .order_button, 
    .Nav #phone_icon{
        display: none;
    }

    .hamburger_menu #menu_links section{
        margin-top: 50px;
    }

}

@media only screen and (max-width: 1199px){
    .Nav section{
        width: 100%;
        justify-content: space-between;
    }

    .Nav section #logo{
        width: 155px;
        margin-left: 20px;
    }
    .Nav section span{
        margin-right: 20px;
        font-size: 20px
    }

    .Nav .Button {
        margin-right: 20px;
    }

    .Nav #phone_icon,
    .Nav #phone_span{
        display: none;
    }



}