.Nav{
    width: 100vw;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}

.Nav section{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Nav section #logo{
    margin-right: auto;
}

.Nav section span{
    margin-right: 40px;
    color: #666666;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.Nav section span:hover{
    color: #d90a0a;
}
.Nav img{
    cursor: pointer;
}
.Nav #cart{
    margin-right: 40px;
    position: relative;
    cursor: pointer;
}
.Nav #number_of_items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: -6px;
    right: -8px;

    width: 18px;
    height: 18px;
    border-radius: 50%;

    background-color: #d90a0a;
    
    font-size: 13px;
    font-weight: bold;
    color: white;
}