.SignInModal .modal_container{
    height: 380px;
}

.SignInModal #inputs_container{
    display: flex;
    height: 125px;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.SignInModal .button_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignInModal .button_div p{
    margin-top: 12px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.SignInModal .button_div span{
    color:  #d90a0a;
    cursor: pointer;
}

.SignInModal .error{
    color: #d90a0a;
    font-size: 12px;
    width: 75%;
    margin: 10px 0 5px;

}